
page {
  box-sizing: border-box;
  padding: 0 20rpx;
  background: #eee;
}

.panel {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20rpx;
  padding: 20rpx 20rpx;
  background: #fff;
  border-radius: 6rpx;
}

.panel-tt {
  font-size: 26rpx;
}

.panel--funcs {
  margin-top: 20rpx;
}

.entry-list {
  margin-top: 20rpx;
}

.btn {
  margin: 0 auto;
  margin-top: 10px;
  padding: 20rpx 20rpx;
  font-size: 28rpx;
  border: 1px solid #ccc;
  text-align: center;
}

.tips {
  margin-top: 20rpx;
  font-size: 24rpx;
  text-align: center;
  color: #ccc;
}
