
.container {
  padding: 15px;
}

/* 头部卡片 */
.book-card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 10px 0;

  .book-cover {
    width: 90px;
    height: 120px;
    border: 1px solid rgba(238, 238, 238, .7);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    > image {
      width: 100%;
      height: 100%;
    }
  }

  .book-info {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    flex: 1 0 0;
    margin-left: 20px;
    font-size: 13px;

    .book-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
      font-size: 16px;
      min-height: 35px;
    }

    .book-text {
      margin: 5px 0 0;
    }
  }

  .book-status {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 13px;
  }
}

/* 馆藏信息 */
.book-collection-info {
  position: relative;

  .collection-num {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
  }

  .collection-item {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 14px;

    .item-row {
      display: flex;

      .item-tt {
        width: 20%;
        text-align: right;
      }
      .item-bd {
        flex: 1 0 auto;
      }
    }

    .item-avaliable {
      color: green;
      font-weight: bold;
    }

    &.collection-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
    }
  }
}

/* 简介 */
.book-intro {
  .intro-text {
    font-size: 14px;
  }
}

/* 图书细节信息 */
.book-detail {
  .body {
    margin-top: 15px;
    font-size: 12px;
  }

  .item-row {
    margin-top: 5px;
    display: flex;

    .item-tt {
      width: 25%;
      text-align: right;
    }
    .item-bd {
      margin-left: 5px;
      max-width: 70%;
      flex: 1 0 auto;
      display: block;
    }
  }
}

/* 小卡片 */
.card {
  margin-top: 15px;
  .title {
    color: #222;
  }
  .body {
    margin-top: 5px;
    color: #666;
  }
}
