
.container {
  padding: 20rpx;
}

.search-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & > input {
    flex: 1 0 0;
    padding: 8px 10px;
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 14px;
  }

  .search-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    width: 16%;
    height: 38px;
    background: #000;
    border: 1px solid #000;
    border-radius: 2px;

    .search-btn {
      display: block;
      width: 16px;
      height: 16px;
      background: url(../../../assets/imgs/search.svg) no-repeat;
      background-size: cover;
    }
  }
}

.result-empty {
  color: #666;
  margin-top: 150px;
  font-size: 14px;
  text-align: center;

  &::before {
    content: '';
    display: block;
    margin: 0 auto 25px;
    width: 80px;
    height: 80px;
    background: url(../../../assets/imgs/empty-list.svg) no-repeat;
    background-size: cover;
  }
}

.result-list {
  margin-top: 10px;

  .result-info {
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
  }

  .book-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;

    .book-cover {
      width: 75px;
      height: 100px;
      border: 1px solid rgba(238, 238, 238, .7);
      border-radius: 2px;

      > image {
        width: 100%;
        height: 100%;
      }
    }

    .book-info {
      display: flex;
      flex-direction: column;
      min-height: 100px;
      flex: 1 0 0;
      margin-left: 12px;
      font-size: 13px;

      .book-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
        font-size: 16px;
        min-height: 35px;
      }

      .book-text {
        margin: 5px 0 0;
      }
    }

    .book-status {
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-size: 13px;
    }
  }
  
  .loading-bottom {
    display: flex;
    justify-content: center;
  
    .loading-spinner {
      transform: scale(.72);
    }
  }
  
  .tip-nomore {
    padding-top: 10px;
    height: 50px;
    color: #aaa;
    font-size: 12px;
    text-align: center;
  }
}

.loading {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;

  &::after {
    content: " ";
    display: block;
    width: calc(46 * calc(50px / 64));
    height: calc(46 * calc(50px / 64));
    margin: 4px;
    border-radius: 50%;
    border: 5px solid #666;
    border-left-color: transparent;
    border-bottom-color: #666;
    border-right-color: transparent;
    border-top-color: #666;
    animation: rcs-dual-ring 1.2s linear infinite;
  }
}

@keyframes rcs-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
